body{width: 90%;
padding: 0 10px;
margin: 0 auto;
background-color:#F0C755;
font : 80%/1.5 "DroidSerifBold", Georgia, Times New Roman, serif;}

#p1{border : 1px solid black;
text-align: center;
width : 100%;
height: 70px;
font-size:50px;
background-color:white;}

#p2{text-align: center;}

#p3{display: inline-block;
border : 1.5px solid black;
text-align: center;
width: 150px;
margin:3 10px 3 3;
background-color:yellow;
vertical-align:text-top;}


#p4{text-align: center;}

#denglu1,#denglu2,#denglu4
{font-size:20px;}


#denglu1{text-align:right;}
#denglu2{text-align:right;}
#denglu3{text-align:right;}
#denglu4{text-align:right;}

#p6{text-align: center;}

.li{width:1100px;list-style-type:none;}