
body{width: 90%;
padding: 0 10px;
margin: 0 auto;
background-color:#F0C755;
font : 80%/1.5 "DroidSerifBold", Georgia, Times New Roman, serif;}

#p1{text-align: center;}
.li{list-style-type:none;}

#p2{text-align: center;}
.act{list-style-type:none;margin-left:20px;margin-top:10px;width:2200px;}
.act2{list-style-type:none;width:300px;float:left;}
.act3{list-style-type:none;width:100px;margin-left:50px;float:left;display: inline-block;border : 1.5px solid black;
text-align: center;
background-color:yellow;}
.act4{list-style-type:none;width:100px;margin-left:200px;float:left;display: inline-block;border : 1.5px solid black;
text-align: center;
background-color:yellow;}
.act5{list-style-type:none;width:100px;margin-left:200px;float:left;display: inline-block;border : 1.5px solid black;
text-align: center;
background-color:yellow;}
.act6{list-style-type:none;width:100px;margin-left:200px;float:left;display: inline-block;border : 1.5px solid black;
text-align: center;
background-color:yellow;}

.act7{list-style-type:none;width:400px;float:left;}
.act8{width:600px;font-size:25px;margin-left:300px;display: inline-block;border : 1.5px solid black;
text-align: center;}
#denglu4{text-align:right;color:#0000FF}
