
body{width: 90%;
padding: 0 10px;
margin: 0 auto;
background-color:#F0C755
background: url("capture100.jpg") ;;
text-align:center;
font : 80%/1.5 "DroidSerifBold", Georgia, Times New Roman, serif;}
#p1 {
display: inline-block;
border : 1.5px solid black;
text-align: center;
width: 400px;
margin:3 10px 3 3;
vertical-align:text-top;
text-align:right;
background-color:white;
}
div {height: 300px; width: 300px;}
div#p1 {position: absolute; z-index: 4;}

#p2 {
display: inline-block;
border : 1.5px solid black;
text-align: center;
width: 400px;
margin:3 10px 3 3;
vertical-align:text-top;
text-align:right;
background-color:white;
}
#p3 {
  display: inline-block;
border : 1.5px solid black;
text-align: center;
width: 400px;
margin:3 10px 3 3;
vertical-align:text-top;
text-align:right;
background-color:white;
}
#p4 {
  display: inline-block;
border : 1.5px solid black;
text-align: center;
width: 400px;
margin:3 10px 3 3;
vertical-align:text-top;
text-align:right;
background-color:white;
  }
  
}
