
body{width: 90%;
padding: 0 10px;
margin: 0 auto;
background-color:#F0C755;
text-align:center;
font : 80%/1.5 "DroidSerifBold", Georgia, Times New Roman, serif;}

#p0{
display: inline-block;     
    font-weight: bold;  
    text-align: right;}


#p1 {
display: inline-block;
border : 1.5px solid black;
text-align: center;
width: 300px;
margin:3 10px 3 3;
vertical-align:text-top;
text-align:right;
background-color:white;
}

#p2 {
display: inline-block;
border : 1.5px solid black;
text-align: center;
width: 300px;
margin:3 10px 3 3;
vertical-align:text-top;
text-align:right;
background-color:white;
}
#p3 {
  display: inline-block;
border : 1.5px solid black;
text-align: center;
width: 300px;
margin:3 10px 3 3;
vertical-align:text-top;
text-align:right;
background-color:white;
}
#p4 {
  display: inline-block;
border : 1.5px solid black;
text-align: center;
width: 300px;
margin:3 10px 3 3;
vertical-align:text-top;
text-align:right;
background-color:white;
  }
#p5 {
  display: inline-block;
border : 1.5px solid black;
text-align: center;
width: 300px;
margin:3 10px 3 3;
vertical-align:text-top;
text-align:right;
background-color:white;
  }
  
#p6 {
 display: inline-block;
border : 1.5px solid black;
text-align: center;
width: 300px;
margin:3 10px 3 3;
vertical-align:text-top;
text-align:right;
background-color:white;
}  

  
}
